
<h1>User index</h1>

<ul>
	<% @users_pos.each do |user_pos| %>
	<li>
		<%= link_to "#{user_pos.name}", user_path(user) %>
	</li>
</ul>

<ul>
	<% @users_neg.each do |user_neg| %>
	<li>
		<%= link_to "#{user_neg.name}", user_path(user) %>
	</li>
</ul>