        
        
<% if logged_in? %>
    <h1>Welocome back !!</h1>
    <div class="row">
      <table>
        <tr>
          <th class="text-center">Name: </th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th class="text-center">Email: </th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th class="text-center">Mind: </th>
          <td><%= current_user.mind %></td>
        </tr>
      </table>
    </div>
<% else %>
    <h1>Welcome to the Mindshare</h1>
    <%= link_to "Signup now!!", signup_path %>
    
<% end %>

