<h1>Negative_Action × Negative_Mind</h1>
<table class="table table-sm col-sm-5">
	<th>Name</th>
	<th>Post</th>
	<% @neg_neg.each do |negneg| %>
	<div class="row">
		<tr>
			<td>
				<%= negneg.user.name %>
			</td>
			<td>
				<%= link_to negneg.content, post_path(negneg.id) %>
			</td>
		</tr>
	</div>
	<% end %>

</table>
