<h1>Negative_Action × Positive_Mind</h1>
<table class="table table-sm col-sm-5">
	<th>Name</th>
	<th>Post</th>
	<% @neg_pos.each do |negpos| %>
	<div class="row">
		<tr>
			<td>
				<%= negpos.user.name %>
			</td>
			<td>
				<%= link_to negpos.content, post_path(negpos.id) %>
			</td>
		</tr>
	</div>
	<% end %>

</table>	