<h1>Positive_Action × Positive_Mind</h1>
<table class="table table-sm col-sm-5">
	<th>Name</th>
	<th>Post</th>
	<% @pos_pos.each do |pospos| %>
	<div class="row">
		<tr>
			<td>
				<%= pospos.user.name%>
			</td>
			<td>
				<%= link_to pospos.content, post_path(pospos.id) %>
			</td>
		</tr>	
	</div>
	<% end %>

</table>
