<h1>Actions detail</h1>

<ul>
	<li>
		<p>Status</p>
		<%= @post.status %>
	</li>
	<li>
		<p>Action</p>
		<%= @post.content %>
	</li>
	<% if @user.id == current_user.id %>
	
	<%= link_to "edit", edit_post_path %>
	<%= link_to "Delete your account", @post, method: :delete, data: { confirm: "You sure? "} %>
	
	<% end %>
</ul>