<h1>Actions detail</h1>

<ul>
	<li>
		<p>Status</p>
		<%= @post.status %>
	</li>
	<li>
		<p>Action</p>
		<%= @post.content %>
	</li>
	<li>
		<p>User</p>
		<%= @user.name%>
	</li>

	<% if @post.user_id == current_user.id %>
	
	<%= link_to "edit", edit_post_path %>
	
	<% end %>
</ul>